.example {
    width: 100%;
}
.example .square {
    background-color: red;
    height: 200px;
    width: 200px;
}

.example .color-transition-square:hover {
    animation: red-to-yellow;
    -webkit-animation: red-to-yellow;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    background-color: yellow;
}

.example .movement-square {
    animation: move-from-left-to-right-and-back;
    -webkit-animation: move-from-left-to-right-and-back;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    left: 0;
    position: relative;
    top: 0;
}

.example .sizing-square {
    animation: resize 2s linear infinite;
    -webkit-animation: resize 2s linear infinite;
}

.example .rgba p {
    margin: 0;
}

.example .rgba {
    padding: 1em;
    width: 100%;
}

.example #rgba-1 {
    background-color: rgba(13, 87, 167, 0.2);
}

.example #rgba-2 {
    background-color: rgba(13, 87, 167, 0.4);
}

.example #rgba-3 {
    background-color: rgba(13, 87, 167, 0.6);
}

.example #rgba-4 {
    background-color: rgba(13, 87, 167, 0.8);
}

.example .rotating-square {
    margin: 100px;
}

.example .rotating-square:hover {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

@-webkit-keyframes red-to-yellow {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@keyframes red-to-yellow {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@-webkit-keyframes move-from-left-to-right-and-back {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes move-from-left-to-right-and-back {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}


@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


@-webkit-keyframes resize {
    50% {
        height: 10px;
        width: 10px;
        margin: 95px;
    }
    100% {
        height: 200px;
        width: 200px;
        margin: 0;
    }
}

@keyframes resize {
    50% {
        height: 10px;
        width: 10px;
        margin: 95px;
    }
    100% {
        height: 200px;
        width: 200px;
        margin: 0;
    }
}