.example {
    width: 100%;
}

.example .box-shadow {
    border: solid grey 1px;
    box-shadow: 1em 1em grey;
    padding: 1.5em;
    width: 90%;
}

.example .box-shadow-blur {
    border: solid grey 1px;
    box-shadow: 1em 1em 0.5em grey;
    padding: 1.5em;
    width: 90%;
}

.example .box-shadow p {
    margin: 0;
}

.example .color-transition-square:hover {
    animation: red-to-yellow;
    -webkit-animation: red-to-yellow;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    background-color: yellow;
}

.example .colors p {
    margin: 0;
}

.example .colors {
    padding: 1em;
    width: 100%;
}

.example .gradient {
    height: 8em;
    width: 100%;
}

.example .gradient-top-to-bottom {
    background: red;
    background: -webkit-linear-gradient(red, yellow);
    background: -o-linear-gradient(red, yellow);
    background: -moz-linear-gradient(red, yellow);
    background: linear-gradient(red, yellow);
}

.example .gradient-left-to-right {
    background: -webkit-linear-gradient(left, red, yellow);
    background: -o-linear-gradient(right, red, yellow);
    background: -moz-linear-gradient(right, red, yellow);
    background: linear-gradient(to right, red, yellow);
    background-color: red;
}

.example .gradient-diagonal {
    background: -webkit-linear-gradient(left top, red, yellow);
    background: -o-linear-gradient(bottom right, red, yellow);
    background: -moz-linear-gradient(bottom right, red, yellow);
    background: linear-gradient(to bottom right, red, yellow);
    background-color: red;
}

.example .gradient-radial {
    background: red;
    background: -webkit-radial-gradient(yellow, red);
    background: -o-radial-gradient(yellow, red);
    background: -moz-radial-gradient(yellow, red);
    background: radial-gradient(yellow, red);
}

.example .gradient-radial-colors-percentage {
    background: red;
    background: -webkit-radial-gradient(yellow 30%, red 50%);
    background: -o-radial-gradient(yellow 30%, red 50%);
    background: -moz-radial-gradient(yellow 30%, red 50%);
    background: radial-gradient(yellow 30%, red 50%);
    height: 8em;
    width: 100%;
}

.example .gradient-radial-circle {
    background: red;
    background: -webkit-radial-gradient(circle, yellow, red);
    background: -o-radial-gradient(circle, yellow, red);
    background: -moz-radial-gradient(circle, yellow, red);
    background: radial-gradient(circle, yellow, red);
}

.example #hsl-1 {
    background-color: hsl(211, 86%, 30%);
}

.example #hsl-2 {
    background-color: hsl(211, 86%, 50%);
}

.example #hsl-3 {
    background-color: hsl(211, 86%, 70%);
}

.example #hsl-4 {
    background-color: hsl(211, 86%, 90%);
}

.example #hsla-1 {
    background-color: hsla(211, 86%, 30%, 0.3);
}

.example #hsla-2 {
    background-color: hsla(211, 86%, 50%, 0.3);
}

.example #hsla-3 {
    background-color: hsla(211, 86%, 70%, 0.3);
}

.example #hsla-4 {
    background-color: hsla(211, 86%, 90%, 0.3);
}

.example .media-queries {
    height: 6em;
    width: 100%;
}

.example .movement-square {
    animation: move-from-left-to-right-and-back;
    -webkit-animation: move-from-left-to-right-and-back;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    left: 0;
    position: relative;
    top: 0;
}

.example .multiple-text-shadow {
    color: black;
    font-family: Arial, serif;
    font-size: 4em;
    margin: 0.5em 0;
    text-shadow: 1px 1px 6px red, 0 0 12px blue;
}

.example #opacity-1 {
    background-color: rgb(13, 87, 167);
    opacity: 0.2;
}

.example #opacity-2 {
    background-color: rgb(13, 87, 167);
    opacity: 0.4;
}

.example #opacity-3 {
    background-color: rgb(13, 87, 167);
    opacity: 0.6;
}

.example #opacity-4 {
    background-color: rgb(13, 87, 167);
    opacity: 0.8;
}

.example #rgba-1 {
    background-color: rgba(13, 87, 167, 0.2);
}

.example #rgba-2 {
    background-color: rgba(13, 87, 167, 0.4);
}

.example #rgba-3 {
    background-color: rgba(13, 87, 167, 0.6);
}

.example #rgba-4 {
    background-color: rgba(13, 87, 167, 0.8);
}

.example .rotating-square {
    margin: 100px;
}

.example .rotating-square:hover {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.example .sizing-square {
    animation: resize 2s linear infinite;
    -webkit-animation: resize 2s linear infinite;
    position: relative;
    left: 0;
    top: 0;
}

.example .square {
    background-color: red;
    height: 200px;
    width: 200px;
}

.example .text-shadow {
    color: black;
    font-family: Arial, serif;
    font-size: 4em;
    margin: 0.5em 0;
    text-shadow: 3px 3px red;
}

.example .text-shadow-blur {
    text-shadow: 3px 3px 6px red;
}

.fixed-height {
    height: 220px;
}

@-webkit-keyframes red-to-yellow {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@keyframes red-to-yellow {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@-webkit-keyframes move-from-left-to-right-and-back {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes move-from-left-to-right-and-back {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes resize {
    50% {
        height: 10px;
        width: 10px;
        margin: 95px;
    }
    100% {
        height: 200px;
        width: 200px;
        margin: 0;
    }
}

@keyframes resize {
    50% {
        height: 10px;
        width: 10px;
        left: 95px;
        top: 95px;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: 0;
        left: 0;
        top: 0;
    }
}

@media only screen and (max-width: 320px) {
    .example .media-queries {
        background-color: red;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .example .media-queries {
        background-color: orange;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .example .media-queries {
        background-color: yellow;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .example .media-queries {
        background-color: green;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .example .media-queries {
        background-color: purple;
    }
}

@media only screen and (min-width: 1920px) {
    .example .media-queries {
        background-color: blue;
    }
}