header {
    padding: 3em;
}

section {
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 2%;
    padding: 2%;
    width: 92%;
}

section div {
    display: inline-block;
}

section p {
    font-size: 1.75em;
    line-height: 1.75em;
}

.actual-page {
    background-color: #0d57a7;
}


.arrow-up {
    bottom: 6em;
}

.article-content {
    padding-left: 2%;
    width: 78%;
}

.article-content-left-margin {
    margin-left: 20%;
}

.content-table {
    width: 20%;
}

.css3-logo-image {
    height: 10em;
    margin-right: 4em;
}

.css3-logo-text {
    font-size: 6em;
    line-height: 1.5em;
}

.face {
    height: 20em;
    width: 20em;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    display: inline-flex;
    font-family: "Arial Black", serif;
    font-size: 1.75em;
    height: auto;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

.list-in-content {
    font-size: 1.75em;
}

.resources-list {
    font-size: 1.55em;
    padding-left: 1.45em;
}

.resources-link {
    font-size: 1.2em;
}


.selected-menu-item {
    display: none;
}