header {
    padding: 1em;
}

.actual-page {
    background-color: #0d57a7;
}

.css3-logo-image {
    height: 4em;
    margin-right: 1.5em;
}
.css3-logo-text {
    font-size: 2.5em;
    line-height: 1.5em;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    display: flex;
    flex-direction: column;
    font-family: "Arial Black", serif;
    font-size: 0.8em;
    height: auto;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

.selected-menu-item {
    display: none;
}