@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: 900;
    src: local("Alegreya SC Black"), local("AlegreyaSC-Black"), url("../fonts/AlegreyaSC-Black.ttf");
}

@font-face {
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: local("Sumana"), local("Sumana-Regular"), url("../fonts/Sumana.ttf");
}

@font-face {
    font-family: "Sumana Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Sumana Bold"), local("Sumana-Bold"), url("../fonts/Sumana-Bold.ttf");
}

body {
    background-color: #ebebeb;
    margin: 0;
    min-width: 320px;
}

a {
    outline: none;
    text-decoration: none;
}

header {
    background-color: #409ad6;
}

button {
    border: none;
}

.logo {
    align-content: center;
    display: flex;
    justify-content: center;
}

.logo-text {
    color: white;
    font-family: "Sumana", serif;
    margin: 0;
}


nav {
    background-color: #409ad6;
}

.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.menu-item {
    background-color: #409ad6;
    color: white;
    display: block;
    padding: 0.75em;
    text-decoration: none;
    transition: background 0.75s;
}

.menu-item:hover {
    background-color: #0d57a7;
}

section {
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 2%;
    padding: 2%;
    width: 92%;
}

section p {
    font-family: "Sumana", serif;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-align: justify;
}

section h2 {
    color: #0d57a7;
    font-family: "Alegreya SC", serif;
    line-height: 1em;
    margin: 0;
}

section h3 {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    margin: 0;
}

.face {
    border-radius: 100%;
}


footer {
    background-color: #409ad6;
        padding: 1.5em 0 0.75em 0;
}

footer h6 {
    color: white;
    font-family: "Sumana", serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 0 2%;
}

.arrow-up {
    background: url("../images/arrow_up.png");
    background-size: 4em 4em;
    bottom: 10%;
    cursor: pointer;
    height: 4em;
    position: fixed;
    right: 2%;
    visibility: hidden;
    width: 4em;
}

.arrow-up:hover {
    background: url("../images/arrow_up_hover.png");
    background-size: 4em 4em;
}