@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: 900;
    src: local("Alegreya SC Black"), local("AlegreyaSC-Black"), url("../fonts/AlegreyaSC-Black.ttf");
}

@font-face {
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: local("Sumana"), local("Sumana-Regular"), url("../fonts/Sumana.ttf");
}

@font-face {
    font-family: "Sumana Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Sumana Bold"), local("Sumana-Bold"), url("../fonts/Sumana-Bold.ttf");
}

a {
    outline: none;
    text-decoration: none;
}

body {
    background-color: #ebebeb;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

code {
    background-color: #ebebeb;
    border-radius: 15px;
    display: block;
    margin: 2em 0;
    padding: 1em 1.5em;
}

footer {
    background-color: #409ad6;
    padding: 1.5em 0 0.75em 0;
}

footer h6 {
    color: white;
    font-family: "Sumana", serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 0 2%;
}

header {
    background-color: #409ad6;
}

nav {
    background-color: #409ad6;
    padding: 0 2%;
}

section {
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 2%;
    padding: 2%;
    width: 92%;
}

section p {
    font-family: "Sumana", serif;
    margin: 0 0 1em 0;
    text-align: justify;
}

section h2 {
    color: #0d57a7;
    font-family: "Alegreya SC", serif;
    line-height: 1em;
    margin: 0;
}

section h3 {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    margin: 0;
}

.about-me {
    display: inline-flex;
    margin-top: 1em;
}

.about-me p {
    margin: 0;
}

.arrow-up {
    background: url("../images/arrow_up.png");
    background-size: 4em 4em;
    bottom: 10%;
    cursor: pointer;
    height: 4em;
    position: fixed;
    right: 2%;
    visibility: hidden;
    width: 4em;
}

.arrow-up:hover {
    background: url("../images/arrow_up_hover.png");
    background-size: 4em 4em;
}

.code-snippet {
    color: black;
    font-size: 1.5em;
}

.contacts {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.contacts li {
    border-radius: 32px;
    color: #fff;
    font-size: 40px;
    height: 64px;
    line-height: 64px;
    list-style-type: none;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 64px;
}

.contacts li a {
    color: #fff;
}

.css-property {
    color: #0000FF;
}

.css-number-value {
    color: #0000FF;
}

.css-text-value {
    color: #000080;
}

.css-unit {
    color: #008000;
}

.css-selector {
    color: #000080;
}

.css3-logo-text {
    color: white;
    font-family: "Sumana", serif;
    line-height: 1em;
    margin: 0;
}

.facebook {
    background:#3b5998
}

.face {
    border-radius: 100%;
    margin-right: 2%;
}

.google-plus {
    background: #dd4b39
}

.heading-link {
    color: #cccccc;
    font-size: 1em;
    margin-right: 0.25em;
}

.home-info {
    margin-bottom: 3em;
}

.index-content {
    padding: 2%;
    width: 96%;
}

.keyword {
    border: solid 1px #ebebeb;
    border-radius: 0;
    color: #e74c3c;
    display: inline;
    margin: 0;
    padding: 0.15em;
}

.linkedin {
    background:#007bb6
}

.logo {
    align-content: center;
    display: flex;
    justify-content: center;
}

.logo a {
    display: inline-flex;
}

.mail {
    background: #522150;
}

.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.menu-item {
    background-color: #409ad6;
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0.75em;
    text-decoration: none;
    transition: background 0.75s;
}

.menu-item:hover {
    background-color: #0d57a7;
}

.opening-text {
    padding: 0 2.5em;
}

.tag-attribute {
    color: #0000FF;
}

.tag-attribute-value {
    color: #008000;
}

.tag-name {
    color: #000080;
}

.text {
    padding: 0 2.5em;
}

.twitter {
    background:#00aced
}