header {
    padding: 2em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.75em;
}

section p {
    font-size: 1.25em;
    line-height: 2em;
}

.arrow-up {
    bottom: 5em;
}

.article-content {
    padding-left: 2%;
    width: 73%;
}

.article-content-left-margin {
    margin-left: 22.5%;
}

.content-table {
    width: 22%;
}

.content-table ul li a {
    font-size: 1.25em;
    margin-left: 10%;
}

.css3-logo-image {
    height: 6em;
    margin-right: 2em;
}

.css3-logo-text {
    font-size: 3.5em;
    line-height: 1.5em;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    display: flex;
    flex-direction: column;
    font-family: "Arial Black", serif;
    font-size: 1em;
    height: auto;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

.opening-text {
    padding: 0 1.45em;
}

.selected-menu-item {
    display: none;
}

.text {
    padding: 0 1.45em;
}