header {
    padding: 3em;
}

.css3-logo {
    height: 10em;
    margin-right: 4em;
}

.logo-text {
    font-size: 6em;
    line-height: 1.5em;
}

nav {
    padding: 0 2%;
}

.selected-menu-item {
    display: none;
}

.menu {
    display: block;
}

.menu li {
    display: inline-block;
    font-family: "Arial Black", serif;
    font-size: 1.75em;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

.actual-page {
    background-color: #0d57a7;
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.face {
    border-radius: 100%;
    height: 15em;
    margin-right: 2%;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contacts img {
    height: 3em;
    margin: 0 0.25em;
}

.contacts img:first-child {
    margin: 0 0.25em 0 0;
}

section {
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 2%;
    padding: 2%;
    width: 92%;
}

section p {
    font-family: "Sumana", serif;
    font-size: 1.75em;
    line-height: 1.75em;
    margin: 0 0 1em 0;
    text-align: justify;
}

section h2 {
    color: #0d57a7;
    font-family: "Alegreya SC", serif;
    font-size: 4em;
    line-height: 1em;
    margin: 0;
}

section h3 {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    font-size: 3em;
    margin: 0.75em 0 0 0;
}

section div {
    display: inline-block;
}

.content-table {
    background-color: #ebebeb;
    height: fit-content;
    width: 20%;
    -moz-height: -moz-fit-content;
    -webkit-height: -webkit-fit-content;
}

.content-table h3 {
    color: #0d57a7;
    margin: 0;
    text-align: center;
}

.content-table ul {
    list-style: none;
}

.content-table ul li a {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    font-size: 1.75em;
}

.content-table ul li a:hover {
    color: #0d57a7;
}

.article-content {
    padding-left: 2%;
    width: 78%;
}

.index-content {
    padding: 2%;
    width: 96%;
}

.heading-link {
    color: #cccccc;
    font-size: 1em;
    margin-right: 0.25em;
}

.home-info {
    margin-bottom: 3em;
}

.arrow-up {
    background: url("../images/arrow_up.png");
    background-size: 4em 4em;
    bottom: 10%;
    cursor: pointer;
    height: 4em;
    position: fixed;
    right: 2%;
    visibility: hidden;
    width: 4em;
}

.arrow-up:hover {
    background: url("../images/arrow_up_hover.png");
    background-size: 4em 4em;
}

footer {
    background-color: #409ad6;
    padding: 1.5em 0 0.75em 0;
}

footer h6 {
    color: white;
    font-family: "Sumana", serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 0 2%;
}

code {
    background-color: #ebebeb;
    border-radius: 15px;
    display: block;
    margin: 2em 0;
    padding: 1em 1.5em;
}

code p {
    color: black;
    font-family: "Arial", serif;
    margin: 0;
}

.keyword {
    border: solid 1px #ebebeb;
    border-radius: 0;
    color: #e74c3c;
    display: inline;
    margin: 0;
    padding: 0.15em;
}

.text {
    padding: 0 2.5em;
}

.opening-text {
    padding: 0 2.5em;
}

.css-property {
    color: #0000FF;
}

.css-number-value {
    color: #0000FF;
}

.css-text-value {
    color: #000080;
}

.css-unit {
    color: #008000;
}

.css-selector {
    color: #000080;
}

.tag-attribute {
    color: #0000FF;
}

.tag-attribute-value {
    color: #008000;
}

.tag-name {
    color: #000080;
}

.example .square {
    background-color: red;
    height: 200px;
    width: 200px;
}

.example .color-transition-square:hover {
    animation: red-to-yellow;
    -webkit-animation: red-to-yellow;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    background-color: yellow;
}

.example .movement-square {
    animation: move-from-left-to-right-and-back;
    -webkit-animation: move-from-left-to-right-and-back;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    left: 0;
    position: relative;
    top: 0;
}

@-webkit-keyframes red-to-yellow {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@keyframes red-to-yellow {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

@-webkit-keyframes move-from-left-to-right-and-back {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes move-from-left-to-right-and-back {
    0% {
        top: 0;
        left: 0;
    }
    50% {
        top: 0;
        left: 400px;
    }
    100% {
        top: 0;
        left: 0;
    }
}