@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: 900;
    src: local("Alegreya SC Black"), local("AlegreyaSC-Black"), url("../fonts/AlegreyaSC-Black.woff") format("woff");
}

@font-face {
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: local("Sumana"), local("Sumana-Regular"), url("../fonts/Sumana.woff") format("woff");
}

@font-face {
    font-family: "Sumana Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Sumana Bold"), local("Sumana-Bold"), url("../fonts/Sumana-Bold.woff2") format("woff2");
}

body {
    background-color: #ebebeb;
    margin: 0;
    min-width: 320px;
}

a {
    outline: none;
    text-decoration: none;
}

header {
    background-color: #409ad6;
}

button {
    border: none;
}

.logo {
    align-content: center;
    display: flex;
    justify-content: center;
}

.logo-text {
    color: white;
    font-family: "Sumana", serif;
    margin: 0;
}


nav {
    background-color: #409ad6;
}

.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.menu-item {
    background-color: #409ad6;
    color: white;
    display: block;
    padding: 0.75em;
    text-decoration: none;
    transition: background 0.75s;
}

.menu-item:hover {
    background-color: #0d57a7;
}
