header {
    padding: 3em;
}

.css3-logo-image {
    height: 10em;
    margin-right: 4em;
}

.css3-logo-text {
    font-size: 6em;
    line-height: 1.5em;
}

nav {
    padding: 0 2%;
}

.selected-menu-item {
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    display: flex;
    flex-direction: column;
    font-family: "Arial Black", serif;
    font-size: 1.75em;
    height: auto;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

.actual-page {
    background-color: #0d57a7;
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.face {
    height: 20em;
    margin-right: 2%;
    width: 20em;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contacts img {
    height: 3em;
    margin: 0 0.25em;
}

.contacts img:first-child {
    margin: 0 0.25em 0 0;
}

section {
    background-color: white;
    border-radius: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 2%;
    padding: 2%;
    width: 92%;
}

section p {
    font-family: "Sumana", serif;
    font-size: 1.75em;
    line-height: 1.75em;
    margin: 0 0 1em 0;
    text-align: justify;
}

section h2 {
    color: #0d57a7;
    font-family: "Alegreya SC", serif;
    font-size: 4em;
    margin: 0;
}

section h3 {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    font-size: 3em;
    margin: 0.75em 0 0 0;
}

section div {
    display: inline-block;
}

.content-table {
    background-color: #ebebeb;
    height: fit-content;
    width: 20%;
}

.content-table h3 {
    color: #0d57a7;
    margin: 0;
    text-align: center;
}

.content-table ul {
    list-style: none;
}

.content-table ul li a {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    font-size: 1.75em;
}

.content-table ul li a:hover {
    color: #0d57a7;
}

.article-content {
    padding-left: 2%;
    width: 78%;
}