header {
    padding: 2em;
}

section h2 {
    font-size: 4em;
}

section h3 {
    font-size: 3em;
}

section p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.actual-page {
    background-color: #0d57a7;
}

.article-content {
    padding-left: 2%;
    width: 73%;
}

.article-content-left-margin {
    margin-left: 25%;
}

.content-table {
    width: 24.5%;
}

.css3-logo-text {
    font-size: 3em;
    line-height: 1.5em;
}

.css3-logo-image {
    height: 5em;
    margin-right: 2em;
}

.face {
    height: 16.5em;
    width: 16.5em;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    display: flex;
    flex-direction: column;
    font-family: "Arial Black", serif;
    font-size: 1.25em;
    height: auto;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

.list-in-content {
    font-size: 1.25em;
}

.opening-text {
    padding: 0 2.25em;
}

.selected-menu-item {
    display: none;
}

.text {
    padding: 0 2.25em;
}