header {
    padding: 1em;
}

nav {
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 88%;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 2em;
}

section p {
    font-size: 1.2em;
    line-height: 1.2em;
}

.about-me {
    display: block;
}

.code-snippet {
    color: black;
    font-size: 1.25em;
}

.contacts li {
    font-size: 30px;
    height: 48px;
    line-height: 48px;
    width: 48px;
}

.content-table {
    display: block;
    padding: 0 0.5em;
    text-align: left;
    width: 84%;
}

.content-table-heading-container {
    display: flex;
    flex-direction: row;
}

.content-table-items a {
    margin-left: 0;
}

.css3-logo-image {
    height: 4em;
    margin-right: 1em;
}

.css3-logo-text {
    font-family: "Sumana", serif;
    font-size: 2em;
    line-height: 1.75em;
}

.dropdown-arrow {
    color: #0d57a7;
    margin: auto 0 auto auto;
}

.face {
    width: 100%;
}

.home-info p {
    margin-top: 0.75em;
}

.menu {
    display: none;
}

.menu li {
    font-family: "Arial Black", serif;
    font-size: 1em;
    margin: 0;
    text-align: left;
    width: 100%;
}

.menu-button {
    background: #0d57a7 url("../images/menu-icon.png") no-repeat center;
    background-size: 1.5em 1.5em;
    border-radius: 0.3em;
    display: block;
    float: right;
    height: 2.5em;
    margin: auto 2% auto auto;
    outline-style: none;
    padding: 0.5em;
    width: 2.5em;
}

.menu-icon {
    height: 1em;
}

.menu-item {
    padding: 0.75em 6%;
}

.opening-text {
    margin-top: 2.6em;
    padding: 0 1.55em;
}

.selected-menu-item {
    display: flex;
    flex-direction: row;
    font-family: "Arial Black", serif;
    width: 100%;
}

.selected-menu-item p {
    background-color: #409ad6;
    color: white;
    display: block;
    font-size: 1em;
    margin: 0 0 0 6%;
    padding: 0.5em 0;
    position: relative;
    text-decoration: none;
}

.text {
    padding: 0 1.55em;
}