.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    display: flex;
    flex-direction: column;
    font-family: "Arial Black", serif;
    font-size: 1.25em;
    height: auto;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}

nav {
    padding: 0 2%;
}

.selected-menu-item {
    display: none;
}

.content-table {
    background-color: #ebebeb;
    height: fit-content;
    width: 20%;
}
.content-table h3 {
    color: #0d57a7;
    margin: 0;
    text-align: center;
}

.content-table ul {
    list-style: none;
}

.content-table ul li a {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    font-size: 1.75em;
}

.content-table ul li a:hover {
    color: #0d57a7;
}
