<!DOCTYPE html>
<html data-ng-app="cssTricksApp" lang="en">
<head>
    <title>CSS3 Tricks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/styles-320.css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="styles/styles-768.css"
          media="only screen and (min-width: 769px) and (max-width: 1024px)">
    <link rel="stylesheet" href="styles/styles-1024.css"
          media="only screen and (min-width: 1024px) and (max-width: 1280px)">
    <link rel="stylesheet" href="styles/styles-1280.css"
          media="only screen and (min-width: 1280px) and (max-width: 1920px)">
    <link rel="stylesheet" href="styles/styles-1920.css" media="only screen and (min-width: 1920px)">
    <link rel="stylesheet" href="styles/examples.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="images/favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="images/favicon-256.png" sizes="256x256">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/colors.service.js"></script>
    <script src="js/services/linearGradients.service.js"></script>
    <script src="js/services/radialGradients.service.js"></script>
    <script src="js/controllers/diagonalGradient.controller.js"></script>
    <script src="js/controllers/differentlySpacedColor.controller.js"></script>
    <script src="js/controllers/leftToRightGradient.controller.js"></script>
    <script src="js/controllers/radialGradient.controller.js"></script>
    <script src="js/controllers/shapes.controller.js"></script>
    <script src="js/controllers/topToBottomGradient.controller.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html">
            <img class="css3-logo-image" src="images/css3.png" alt="logo of CSS3"/>
            <h1 class="css3-logo-text">CSS3 Tricks</h1>
        </a>
    </div>
</header>
<nav class="js-navigation">
    <div class="selected-menu-item"><p>Gradients</p>
        <button class="menu-button" onclick="dropdown()"></button>
    </div>
    <ul class="menu">
        <li><a class="menu-item" href="index.html">Home</a>
        <li><a class="menu-item" href="animations.html">Animations</a>
        <li><a class="actual-page menu-item" href="#">Gradients</a>
        <li><a class="menu-item" href="media.html">Media Queries</a>
        <li><a class="menu-item" href="shadows.html">Shadows</a>
        <li><a class="menu-item" href="colors.html">Colors</a>
    </ul>
</nav>
<section>
    <div class="content-table js-content-table">
        <div class="content-table-heading-container">
            <h3 class="content-table-heading">Content</h3>
            <i class="fa fa-angle-down dropdown-arrow js-dropdown-arrow" aria-hidden="true"></i>
        </div>
        <ul class="content-table-items js-content-table-items">
            <li><a href="#linear-gradients">Linear gradients</a></li>
            <li><a href="#radial-gradients">Radial gradients</a></li>
            <li><a href="#gradients-resources">Resources</a></li>
        </ul>
    </div>
    <div class="article-content js-article-content article-content-left-margin">
        <div class="opening-text">
            <h2>Gradients</h2>
            <p>
                CSS3 gradients let you display smooth transitions between two or more specified colors.
                Earlier, you had to use images for these effects. However, by using CSS3 gradients you can reduce
                download time and bandwidth usage. In addition, elements with gradients look better when zoomed, because
                the gradient is generated by the browser.
                <br><br>
                CSS3 defines two types of gradients:
            </p>
            <ul class="list-in-content">
                <li>Linear Gradients (goes down/up/left/right/diagonally)</li>
                <li>Radial Gradients (defined by their center)</li>
            </ul>
        </div>
        <h3><a class="heading-link" id="linear-gradients" href="#linear-gradients">#</a>Linear Gradients</h3>
        <div class="text">
            <p>
                To create a linear gradient you must define at least two color stops. Color stops are the colors you
                want to render smooth transitions among. You can also set a starting point and a direction (or an angle)
                along with the gradient effect.
            </p>
            <h4>Top to Bottom</h4>
            <p>The following example shows a linear gradient that starts at the top. It starts dark blue, transitioning
                to light blue:</p>
            <div class="controller" data-ng-controller="TopToBottomGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-top-to-bottom" data-ng-style="ctrl.gradient"></div>
                </div>
                <form class="colors-form">
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="top-to-bottom-first-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorRed" id="top-to-bottom-first-red" type="text"
                                       value="255">
                            </div>
                            <div class="form-input">
                                <label class="label" for="top-to-bottom-first-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorGreen" id="top-to-bottom-first-green"
                                       type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="top-to-bottom-first-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorBlue" id="top-to-bottom-first-blue"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="top-to-bottom-second-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorRed"
                                       id="top-to-bottom-second-red" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="top-to-bottom-second-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorGreen"
                                       id="top-to-bottom-second-green" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="top-to-bottom-second-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorBlue"
                                       id="top-to-bottom-second-blue" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-top-to-bottom"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
                <code class="code-snippet">
                    <span class="css-selector"><b>.gradient-top-to-bottom</b></span>&nbsp;{<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-webkit-linear-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-o-linear-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>,
                    <span class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-moz-linear-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>linear-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                        class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                        class="css-number-value">100</span>%;<br>
                    }
                </code>
            </div>
            <h4>Left to Right</h4>
            <p>The following example shows a linear gradient that starts from the left. It starts dark blue,
                transitioning to light blue:</p>
            <div class="controller" data-ng-controller="LeftToRightGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-left-to-right" data-ng-style="ctrl.gradient"></div>
                </div>
                <form class="colors-form">
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="left-to-right-first-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorRed" id="left-to-right-first-red" type="text"
                                       value="255">
                            </div>
                            <div class="form-input">
                                <label class="label" for="left-to-right-first-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorGreen" id="left-to-right-first-green"
                                       type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="left-to-right-first-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorBlue" id="left-to-right-first-blue"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="left-to-right-second-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorRed"
                                       id="left-to-right-second-red" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="left-to-right-second-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorGreen"
                                       id="left-to-right-second-green" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="left-to-right-second-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorBlue"
                                       id="left-to-right-second-blue" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-left-to-right"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
                <code class="code-snippet">
                    <span class="css-selector"><b>.gradient-left-to-right</b></span>&nbsp;{<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-webkit-linear-gradient</b></span>(<span
                        class="css-unit"><b>left</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-o-linear-gradient</b></span>(<span
                        class="css-unit"><b>right</b></span>,
                    <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-moz-linear-gradient</b></span>(<span
                        class="css-unit"><b>right</b></span>,
                    <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>linear-gradient</b></span>(<span
                        class="css-unit"><b>to right</b></span>,
                    <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                        class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                        class="css-number-value">100</span>%;<br>
                    }
                </code>
            </div>
            <h4>Diagonaly</h4>
            <p>You can make a gradient diagonally by specifying both the horizontal and vertical starting positions.
                The following example shows a linear gradient that starts at top left (and goes to bottom right). It
                starts dark blue, transitioning to light blue:</p>
            <div class="controller" data-ng-controller="DiagonalGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-diagonal" data-ng-style="ctrl.gradient"></div>
                </div>
                <form class="colors-form">
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="diagonal-first-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorRed" id="diagonal-first-red" type="text"
                                       value="255">
                            </div>
                            <div class="form-input">
                                <label class="label" for="diagonal-first-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorGreen" id="diagonal-first-green"
                                       type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="diagonal-first-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorBlue" id="diagonal-first-blue"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="diagonal-second-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorRed"
                                       id="diagonal-second-red" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="diagonal-second-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorGreen"
                                       id="diagonal-second-green" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="diagonal-second-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorBlue"
                                       id="diagonal-second-blue" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-diagonal"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
                <code class="code-snippet">
                    <span class="css-selector"><b>.gradient-diagonal</b></span>&nbsp;{<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-webkit-linear-gradient</b></span>(<span
                        class="css-unit"><b>left top</b></span>,
                    <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-o-linear-gradient</b></span>(<span
                        class="css-unit"><b>bottom right</b></span>, <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>,
                    <span class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-moz-linear-gradient</b></span>(<span
                        class="css-unit"><b>bottom right</b></span>,
                    <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>linear-gradient</b></span>(<span
                        class="css-unit"><b>to bottom right</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>,
                    <span class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                        class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                        class="css-number-value">100</span>%;<br>
                    }
                </code>
            </div>
        </div>
        <h3><a class="heading-link" id="radial-gradients" href="#radial-gradients">#</a>Radial gradients</h3>
        <div class="text">
            <p>
                A radial gradient is defined by its center.
                To create a radial gradient you must also define at least two color stops.
                By default, shape is ellipse, size is farthest-corner, and position is center.
            </p>
            <h4>Evenly Spaced Color Stops</h4>
            <p>The following example shows a radial gradient with evenly spaced color stops:</p>
            <div class="controller" data-ng-controller="RadialGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-radial" data-ng-style="ctrl.gradient"></div>
                </div>
                <form class="colors-form">
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="radial-first-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorRed" id="radial-first-red" type="text"
                                       value="255">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-first-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorGreen" id="radial-first-green"
                                       type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-first-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorBlue" id="radial-first-blue"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="radial-second-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorRed"
                                       id="radial-second-red" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-second-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorGreen"
                                       id="radial-second-green" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-second-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorBlue"
                                       id="radial-second-blue" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-radial"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
                <code class="code-snippet">
                    <span class="css-selector"><b>.gradient-radial</b></span>&nbsp;{<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-webkit-radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-o-radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>,
                    <span class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-moz-radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                        class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                        class="css-number-value">100</span>%;<br>
                    }
                </code>
            </div>
            <h4>Differently Spaced Color Stops</h4>
            <p>The following example shows a radial gradient with differently spaced color stops:</p>
            <div class="controller" data-ng-controller="DifferentlySpacedColorCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-radial-colors-percentage" data-ng-style="ctrl.gradient"></div>
                </div>
                <form class="colors-form">
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="radial-colors-percentage-first-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorRed" id="radial-colors-percentage-first-red"
                                       type="text"
                                       value="255">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-colors-percentage-first-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorGreen" id="radial-colors-percentage-first-green"
                                       type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-colors-percentage-first-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorBlue" id="radial-colors-percentage-first-blue"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="radial-colors-percentage-second-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorRed"
                                       id="radial-colors-percentage-second-red" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-colors-percentage-second-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorGreen"
                                       id="radial-colors-percentage-second-green" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-colors-percentage-second-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorBlue"
                                       id="radial-colors-percentage-second-blue" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-radial-colors-percentage"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
                <code class="code-snippet">
                    <span class="css-selector"><b>.gradient-radial-colors-percentage</b></span>&nbsp;{<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-webkit-radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span> <span
                        class="css-number-value">30</span>%, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span> <span
                        class="css-number-value">50</span>%);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-o-radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>
                    <span
                            class="css-number-value">30</span>%, <span class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>
                    <span
                            class="css-number-value">50</span>%);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-moz-radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span> <span
                        class="css-number-value">30</span>%, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span> <span
                        class="css-number-value">50</span>%);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>radial-gradient</b></span>(<span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span> <span
                        class="css-number-value">30</span>%, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span> <span
                        class="css-number-value">50</span>%);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                        class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                        class="css-number-value">100</span>%;<br>
                    }
                </code>
            </div>
            <h4>Shapes</h4>
            <p>
                The shape parameter defines the shape. It can take the value circle or ellipse. The default value is
                ellipse.
                <br><br>
                The following example shows a radial gradient with the shape of a circle:
            </p>
            <div class="controller" data-ng-controller="ShapesCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-radial-circle" data-ng-style="ctrl.gradient"></div>
                </div>
                <form class="colors-form">
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="radial-circle-first-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorRed" id="radial-circle-first-red" type="text"
                                       value="255">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-circle-first-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorGreen" id="radial-circle-first-green"
                                       type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-circle-first-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.firstColorBlue" id="radial-circle-first-blue"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <div class="form-inputs">
                            <div class="form-input">
                                <label class="label" for="radial-circle-second-red">Red</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorRed"
                                       id="radial-circle-second-red" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-circle-second-green">Green</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorGreen"
                                       id="radial-circle-second-green" type="text">
                            </div>
                            <div class="form-input">
                                <label class="label" for="radial-circle-second-blue">Blue</label>
                                <input class="input" data-ng-change="ctrl.changeGradient()"
                                       data-ng-model="ctrl.secondColorBlue"
                                       id="radial-circle-second-blue" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-radial-colors-percentage"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
                <code class="code-snippet">
                    <span class="css-selector"><b>.gradient-radial-circle</b></span>&nbsp;{<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-webkit-radial-gradient</b></span>(<span
                        class="css-unit"><b>circle</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-o-radial-gradient</b></span>(<span
                        class="css-unit"><b>circle</b></span>,
                    <span class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>-moz-radial-gradient</b></span>(<span
                        class="css-unit"><b>circle</b></span>, <span
                        class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                        class="css-text-value"><b>radial-gradient</b></span>(<span class="css-unit"><b>circle</b></span>,
                    <span class="css-text-value"><b>{{ctrl.secondColorInHex}}</b></span>, <span
                        class="css-text-value"><b>{{ctrl.firstColorInHex}}</b></span>);<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                        class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                    <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                        class="css-number-value">100</span>%;<br>
                    }
                </code>
            </div>
            <h3><a class="heading-link" id="gradients-resources" href="#gradients-resources">#</a>Resources</h3>
            <div class="text">
                <ol class="resources-list">
                    <li><a class="resources-link" href="https://www.w3schools.com/css/css3_gradients.asp" target="_blank">w3schools</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="arrow-up js-arrow-up" onclick="scrollUp()"></div>
<footer>
    <h6>©2017 Created by VendaskyCZ</h6>
</footer>
<script src="js/arrow.js" type="text/javascript"></script>
<script src="js/articles.js" type="text/javascript"></script>
<script src="js/menu.js" type="text/javascript"></script>
</body>
</html>
