<!DOCTYPE html>
<html data-ng-app="cssTricksApp" lang="en">
<head>
    <title>CSS3 Tricks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/styles-320.css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="styles/styles-768.css"
          media="only screen and (min-width: 768px) and (max-width: 1024px)">
    <link rel="stylesheet" href="styles/styles-1024.css"
          media="only screen and (min-width: 1024px) and (max-width: 1280px)">
    <link rel="stylesheet" href="styles/styles-1280.css"
          media="only screen and (min-width: 1280px) and (max-width: 1920px)">
    <link rel="stylesheet" href="styles/styles-1920.css" media="only screen and (min-width: 1920px)">
    <link rel="stylesheet" href="styles/examples.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="images/favicon-96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="images/favicon-256.png" sizes="256x256">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/linearGradients.service.js"></script>
    <script src="js/services/radialGradients.service.js"></script>
    <script src="js/controllers/diagonalGradient.controller.js"></script>
    <script src="js/controllers/leftToRightGradient.controller.js"></script>
    <script src="js/controllers/radialGradient.controller.js"></script>
    <script src="js/controllers/topToBottomGradient.controller.js"></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html">
            <img class="css3-logo-image" src="images/css3.png" alt="logo of CSS3"/>
            <h1 class="css3-logo-text">CSS3 Tricks</h1>
        </a>
    </div>
</header>
<nav id="js-navigation-gradients">
    <div class="selected-menu-item"><p>Gradients</p>
        <button class="menu-button" onclick="dropdown()"></button>
    </div>
    <ul class="menu">
        <li><a class="menu-item" href="index.html">Home</a>
        <li><a class="menu-item" href="animations.html">Animations</a>
        <li><a class="actual-page menu-item" href="#">Gradients</a>
        <li><a class="menu-item" href="media.html">Media Queries</a>
        <li><a class="menu-item" href="shadows.html">Shadows</a>
        <li><a class="menu-item" href="colors.html">Colors</a>
    </ul>
</nav>
<section>
    <div id="js-gradients-content-table" class="content-table">
        <div class="content-table-heading-container">
            <h3 class="content-table-heading">Content</h3><i class="fa fa-angle-down dropdown-arrow"
                                                             aria-hidden="true"></i>
        </div>
        <ul class="content-table-items">
            <li><a href="#linear-gradients">Linear gradients</a></li>
            <li><a href="#radial-gradients">Radial gradients</a></li>
        </ul>
    </div>
    <div id="js-gradients-content" class="article-content">
        <div class="opening-text">
            <h2>Gradients</h2>
            <p>
                CSS3 gradients let you display smooth transitions between two or more specified colors.
                Earlier, you had to use images for these effects. However, by using CSS3 gradients you can reduce
                download time and bandwidth usage. In addition, elements with gradients look better when zoomed, because
                the gradient is generated by the browser.
                <br><br>
                CSS3 defines two types of gradients:
            </p>
            <ul class="list-in-content">
                <li>Linear Gradients (goes down/up/left/right/diagonally)</li>
                <li>Radial Gradients (defined by their center)</li>
            </ul>
        </div>
        <h3><a class="heading-link" id="linear-gradients" href="#linear-gradients">#</a>Linear Gradients</h3>
        <div class="text">
            <p>
                To create a linear gradient you must define at least two color stops. Color stops are the colors you
                want to render smooth transitions among. You can also set a starting point and a direction (or an angle)
                along with the gradient effect.
            </p>
            <h4>Top to Bottom</h4>
            <p>The following example shows a linear gradient that starts at the top. It starts dark blue, transitioning
                to light blue:</p>
            <div class="controller" ng-controller="TopToBottomGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-top-to-bottom" ng-style="ctrl.gradient"></div>
                </div>
                <form>
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorRed" type="text" value="255">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorBlue" type="text">
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorRed" type="text">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorBlue" type="text">
                    </div>
                </form>
                <code class="code-snippet">
                    &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                        class="tag-attribute-value"><b>"gradient-top-to-bottom"</b></span>&gt;
                    &lt;/<span class="tag-name"><b>div</b></span>&gt;
                </code>
            </div>
            <code class="code-snippet">
                <span class="css-selector"><b>.gradient-top-to-bottom</b></span>&nbsp;{<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>#0d57a7</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-webkit-linear-gradient</b></span>(<span
                    class="css-text-value"><b>red</b></span>, <span
                    class="css-text-value"><b>yellow</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-o-linear-gradient</b></span>(<span
                    class="css-text-value"><b>red</b></span>,
                <span class="css-text-value"><b>yellow</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-moz-linear-gradient</b></span>(<span
                    class="css-text-value"><b>red</b></span>, <span
                    class="css-text-value"><b>yellow</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>linear-gradient</b></span>(<span
                    class="css-text-value"><b>red</b></span>, <span
                    class="css-text-value"><b>yellow</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                    class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                    class="css-number-value">100</span>%;<br>
                }
            </code>
            <h4>Left to Right</h4>
            <p>The following example shows a linear gradient that starts from the left. It starts dark blue,
                transitioning to light blue:</p>
            <div class="controller" data-ng-controller="LeftToRightGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-left-to-right" ng-style="ctrl.gradient"></div>
                </div>
                <form>
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorRed" type="text" value="255">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorBlue" type="text">
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorRed" type="text">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorBlue" type="text">
                    </div>
                </form>
            </div>
            <code class="code-snippet">
                &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                    class="tag-attribute-value"><b>"gradient-left-to-right"</b></span>&gt;
                &lt;/<span class="tag-name"><b>div</b></span>&gt;
            </code>
            <code class="code-snippet">
                <span class="css-selector"><b>.gradient-left-to-right</b></span>&nbsp;{<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>#0d57a7</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-webkit-linear-gradient</b></span>(<span
                    class="css-unit"><b>left</b></span>, <span class="css-text-value"><b>#0d57a7</b></span>, <span
                    class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-o-linear-gradient</b></span>(<span class="css-unit"><b>right</b></span>,
                <span class="css-text-value"><b>#0d57a7</b></span>, <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-moz-linear-gradient</b></span>(<span class="css-unit"><b>right</b></span>,
                <span class="css-text-value"><b>#0d57a7</b></span>, <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>linear-gradient</b></span>(<span class="css-unit"><b>to right</b></span>,
                <span class="css-text-value"><b>#0d57a7</b></span>, <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                    class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                    class="css-number-value">100</span>%;<br>
                }
            </code>
            <h4>Diagonaly</h4>
            <p>You can make a gradient diagonally by specifying both the horizontal and vertical starting positions.
                The following example shows a linear gradient that starts at top left (and goes to bottom right). It
                starts dark blue, transitioning to light blue:</p>
            <div class="controller" ng-controller="DiagonalGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-diagonal" ng-style="ctrl.gradient"></div>
                </div>
                <form>
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorRed" type="text" value="255">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorBlue" type="text">
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorRed" type="text">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorBlue" type="text">
                    </div>
                </form>
            </div>
            <code class="code-snippet">
                &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                    class="tag-attribute-value"><b>"gradient-diagonal"</b></span>&gt;
                &lt;/<span class="tag-name"><b>div</b></span>&gt;
            </code>
            <code class="code-snippet">
                <span class="css-selector"><b>.gradient-diagonal</b></span>&nbsp;{<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>#0d57a7</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-webkit-linear-gradient</b></span>(<span class="css-unit"><b>left top</b></span>,
                <span class="css-text-value"><b>#0d57a7</b></span>, <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-o-linear-gradient</b></span>(<span
                    class="css-unit"><b>bottom right</b></span>, <span class="css-text-value"><b>#0d57a7</b></span>,
                <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-moz-linear-gradient</b></span>(<span class="css-unit"><b>bottom right</b></span>,
                <span class="css-text-value"><b>#0d57a7</b></span>, <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>linear-gradient</b></span>(<span
                    class="css-unit"><b>to bottom right</b></span>, <span class="css-text-value"><b>#0d57a7</b></span>,
                <span class="css-text-value"><b>#409ad6</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                    class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                    class="css-number-value">100</span>%;<br>
                }
            </code>
        </div>
        <h3><a class="heading-link" id="radial-gradients" href="#radial-gradients">#</a>Radial gradients</h3>
        <div class="text">
            <p>
                A radial gradient is defined by its center.
                To create a radial gradient you must also define at least two color stops.
                By default, shape is ellipse, size is farthest-corner, and position is center.
            </p>
            <h4>Evenly Spaced Color Stops</h4>
            <p>The following example shows a radial gradient with evenly spaced color stops:</p>
            <div class="controller" ng-controller="RadialGradientCtrl as ctrl">
                <div class="example">
                    <div class="gradient gradient-radial" ng-style="ctrl.gradient"></div>
                </div>
                <form>
                    <div class="color-picker first-color">
                        <h5>First color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorRed" type="text" value="255">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.firstColorBlue" type="text">
                    </div>
                    <div class="color-picker second-color">
                        <h5>Second color</h5>
                        <label>Red</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorRed" type="text">
                        <label>Green</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorGreen" type="text">
                        <label>Blue</label>
                        <input ng-change="ctrl.changeGradient()" ng-model="ctrl.secondColorBlue" type="text">
                    </div>
                </form>
            </div>
            <code class="code-snippet">
                &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                    class="tag-attribute-value"><b>"gradient-radial"</b></span>&gt;
                &lt;/<span class="tag-name"><b>div</b></span>&gt;
            </code>
            <code class="code-snippet">
                <span class="css-selector"><b>.gradient-radial</b></span>&nbsp;{<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>#0d57a7</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-webkit-radial-gradient</b></span>(<span
                    class="css-text-value"><b>#409ad6</b></span>, <span
                    class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-o-radial-gradient</b></span>(<span class="css-text-value"><b>#409ad6</b></span>,
                <span class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-moz-radial-gradient</b></span>(<span
                    class="css-text-value"><b>#409ad6</b></span>, <span
                    class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>radial-gradient</b></span>(<span
                    class="css-text-value"><b>#409ad6</b></span>, <span
                    class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                    class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                    class="css-number-value">100</span>%;<br>
                }
            </code>
            <h4>Differently Spaced Color Stops</h4>
            <p>The following example shows a radial gradient with differently spaced color stops:</p>
            <div class="example">
                <div class="gradient gradient-radial-colors-percentage"></div>
            </div>
            <code class="code-snippet">
                &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                    class="tag-attribute-value"><b>"gradient-radial-colors-percentage"</b></span>&gt;
                &lt;/<span class="tag-name"><b>div</b></span>&gt;
            </code>
            <code class="code-snippet">
                <span class="css-selector"><b>.gradient-radial-colors-percentage</b></span>&nbsp;{<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>#0d57a7</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-webkit-radial-gradient</b></span>(<span
                    class="css-text-value"><b>#409ad6</b></span> <span
                    class="css-number-value">30</span>%, <span class="css-text-value"><b>#0d57a7</b></span> <span
                    class="css-number-value">50</span>%);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-o-radial-gradient</b></span>(<span class="css-text-value"><b>#409ad6</b></span>
                <span
                        class="css-number-value">30</span>%, <span class="css-text-value"><b>#0d57a7</b></span> <span
                    class="css-number-value">50</span>%);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-moz-radial-gradient</b></span>(<span
                    class="css-text-value"><b>#409ad6</b></span> <span
                    class="css-number-value">30</span>%, <span class="css-text-value"><b>#0d57a7</b></span> <span
                    class="css-number-value">50</span>%);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>radial-gradient</b></span>(<span
                    class="css-text-value"><b>#409ad6</b></span> <span
                    class="css-number-value">30</span>%, <span class="css-text-value"><b>#0d57a7</b></span> <span
                    class="css-number-value">50</span>%);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                    class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                    class="css-number-value">100</span>%;<br>
                }
            </code>
            <h4>Shapes</h4>
            <p>
                The shape parameter defines the shape. It can take the value circle or ellipse. The default value is
                ellipse.
                <br><br>
                The following example shows a radial gradient with the shape of a circle:
            </p>
            <div class="example">
                <div class="gradient gradient-radial-circle"></div>
            </div>
            <code class="code-snippet">
                &lt;<span class="tag-name"><b>div</b></span> <span class="tag-attribute"><b>class=</b></span><span
                    class="tag-attribute-value"><b>"gradient-radial-colors-percentage"</b></span>&gt;
                &lt;/<span class="tag-name"><b>div</b></span>&gt;
            </code>
            <code class="code-snippet">
                <span class="css-selector"><b>.gradient-radial-circle</b></span>&nbsp;{<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>#0d57a7</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-webkit-radial-gradient</b></span>(<span
                    class="css-unit"><b>circle</b></span>, <span class="css-text-value"><b>#409ad6</b></span>, <span
                    class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-o-radial-gradient</b></span>(<span class="css-unit"><b>circle</b></span>,
                <span class="css-text-value"><b>#409ad6</b></span>, <span class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>-moz-radial-gradient</b></span>(<span
                    class="css-unit"><b>circle</b></span>, <span class="css-text-value"><b>#409ad6</b></span>, <span
                    class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;background</b></span>: <span
                    class="css-text-value"><b>radial-gradient</b></span>(<span class="css-unit"><b>circle</b></span>,
                <span class="css-text-value"><b>#409ad6</b></span>, <span class="css-text-value"><b>#0d57a7</b></span>);<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;height</b></span>: <span
                    class="css-number-value">8</span><span class="css-unit"><b>em</b></span>;<br>
                <span class="css-property"><b>&nbsp;&nbsp;&nbsp;&nbsp;width</b></span>: <span
                    class="css-number-value">100</span>%;<br>
                }
            </code>
        </div>
    </div>
</section>
<div id="js-arrow-up-gradients" class="arrow-up" onclick="scrollUp()"></div>
<footer>
    <h6>©2017 Created by VendaskyCZ</h6>
</footer>
<script>
    var contentTable = document.getElementById("js-gradients-content-table");
    var contentTableItems = document.getElementsByClassName("content-table-items")[0];
    var content = document.getElementById("js-gradients-content");
    var arrowUp = document.getElementById("js-arrow-up-gradients");
    var dropdownUpArrow = document.getElementsByClassName("dropdown-arrow")[0];
    var navigation = document.getElementById("js-navigation-gradients");
    arrowUp.style.visibility = 'hidden';
    var contentTableWidth = contentTable.clientWidth
        - parseFloat(window.getComputedStyle(contentTable, null).getPropertyValue('padding-left').replace("px", ""))
        - parseFloat(window.getComputedStyle(contentTable, null).getPropertyValue('padding-right').replace("px", ""));
    var stuck = false;
    var stickPoint = contentTable.offsetTop;
    var menu = document.getElementsByClassName("menu")[0];
    var menuShowed = false;
    var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    if (width <= 768) {
        contentTableItems.style.display = "none";
    } else {
        dropdownUpArrow.style.display = "none";
    }

    contentTable.addEventListener("click", function () {
        if (width <= 768) {
            if (contentTableItems.style.display == "block") {
                contentTableItems.style.display = "none";
                dropdownUpArrow.className = dropdownUpArrow.className.replace("fa-angle-up", "fa-angle-down");
            } else {
                contentTableItems.style.display = "block";
                dropdownUpArrow.className = dropdownUpArrow.className.replace("fa-angle-down", "fa-angle-up");
            }
        }
    });

    window.onresize = function (event) {
        contentTableWidth = contentTable.clientWidth
            - parseFloat(window.getComputedStyle(contentTable, null).getPropertyValue('padding-left').replace("px", ""))
            - parseFloat(window.getComputedStyle(contentTable, null).getPropertyValue('padding-right').replace("px", ""));
        width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        if (width <= 768) {
            dropdownUpArrow.style.display = "inline";
            contentTableItems.style.display = "none";
        } else {
            dropdownUpArrow.style.display = "none";
            var actualMenuPage = document.getElementsByClassName("actual-page")[0];
            actualMenuPage.parentNode.style.display = 'inline-flex';
            menu.style.display = "block";
            menuShowed = true;
            if (width > 768 && contentTableItems.style.display == "none") {
                contentTableItems.style.display = "block";
            }
        }
        contentTableWidth = contentTable.clientWidth;
        stickPoint = contentTable.offsetTop;
    };

    window.onscroll = function (e) {
        if (window.pageYOffset > navigation.offsetTop + navigation.clientHeight) {
            arrowUp.style.visibility = 'visible';
        } else {
            arrowUp.style.visibility = 'hidden';
        }
        var distance = contentTable.offsetTop - window.pageYOffset;
        var offset = window.pageYOffset;
        if ((distance <= 0) && !stuck) {
            contentTable.style.position = 'fixed';
            contentTable.style.top = '0px';
            contentTable.style.width = contentTableWidth + 'px';
            if (width > 768) {
                content.className += " article-content-left-margin";
            }
            stuck = true;
        } else if (stuck && (offset <= stickPoint)) {
            contentTable.style.position = 'static';
            if (width > 768) {
                content.className = "article-content";
            }
            stuck = false;
        }
    };

    function dropdown() {
        var actualMenuPage = document.getElementsByClassName("actual-page")[0];
        actualMenuPage.parentNode.style.display = 'none';
        if (!menuShowed) {
            menu.style.display = "block";
            menuShowed = true;
        } else {
            menu.style.display = "none";
            menuShowed = false;
        }
        stickPoint = contentTable.offsetTop;
    }

    function scrollUp() {
        var scrollStep = -100;
        var scrollInterval = setInterval(function () {
            if (window.scrollY != 0) {
                window.scrollBy(0, scrollStep);
            } else {
                clearInterval(scrollInterval);
            }
        }, 15);
    }
</script>
</body>
</html>
