@font-face {
    font-family: "Alegreya SC";
    font-style: normal;
    font-weight: 900;
    src: local("Alegreya SC Black"), local("AlegreyaSC-Black"), url("fonts/AlegreyaSC-Black.woff") format("woff");
}
@font-face {
    font-family: "Sumana";
    font-style: normal;
    font-weight: 400;
    src: local("Sumana"), local("Sumana-Regular"), url("fonts/Sumana.woff") format("woff");
}
@font-face {
    font-family: "Sumana Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Sumana Bold"), local("Sumana-Bold"), url("fonts/Sumana-Bold.woff2") format("woff2");
}
body {
    background-color: #ebebeb;
    margin: 0;
}
a {
    outline: none;
    text-decoration: none;
}
header {
    background-color: #409ad6;
    padding: 3em;
}
header div {
    align-content: center;
    display: flex;
    justify-content: center;
}
header div img {
    height: 10em;
    margin-right: 4em;
}
header div h1 {
    color: white;
    font-family: "Sumana", serif;
    font-size: 6em;
    line-height: 1.5em;
    margin: 0;
}
nav {
    background-color: #409ad6;
}
.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 96%;
}
.menu li {
    display: inline-block;
    font-family: "Arial Black", serif;
    font-size: 1.75em;
    margin: 0;
    text-align: center;
    width: 16.666666667%;
}
.menu-item:hover {
    background-color: #0d57a7;
 }
.menu-item {
    background-color: #409ad6;
    color: white;
    display: block;
    padding: 0.75em;
    text-decoration: none;
    transition: background 0.75s;
}
.actual-page {
    background-color: #0d57a7;
}
section {
    background-color: white;
    border-radius: 15px;
    margin: 2%;
    padding: 2%;
    width: 92%;
}
section p {
    font-family: "Sumana", serif;
    font-size: 1.75em;
    line-height: 1.75em;
    margin: 0;
}

section h2 {
    color: #0d57a7;
    font-family: "Alegreya SC", serif;
    font-size: 4em;
    margin: 0;
}
section h3 {
    color: #409ad6;
    font-family: "Alegreya SC", serif;
    font-size: 3em;
    margin: 0.75em 0 0 0;
}
.home-info {
    margin-bottom: 3em;
}
footer {
    background-color: #409ad6;
    padding: 1.5em 0 0.75em 0;
}
footer h6 {
    color: white;
    font-family: "Sumana", serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 0 2%;
}
.code {
    background-color: #ebebeb;
    border-radius: 15px;
    margin: 2em 0;
    padding: 1em 1.5em;
}
.code p {
    color: black;
    margin: 0;
}
.css-property {
    color: #409ad6;
}
.css-value {
    color: #0d57a7;
}
.css-unit {
    color: forestgreen;
}
.css-selector {
    color: #0d57a7;
}